<div class="container">
  <div class="card-grid">
    <app-card cardTitle="Total Income" cardContent="{{ totalIncome | number:'1.0-0' }}" class="Income" />
    <app-card cardTitle="Balance" cardContent="{{ latestBalance | number:'1.0-0' }}" class="balance" />
    <app-card cardTitle="Total Outcome" cardContent="{{ totalOutcome | number:'1.0-0' }}" class="Outcome" />
  </div>
  <!--  <div class="chart-container">-->
  <!--    <div class="small-chart">-->
  <!--      <p-chart type="doughnut" [data]="donutChartData"></p-chart>-->
  <!--    </div>-->
  <!--    <div class="small-chart">-->
  <!--      <p-chart type="line" [data]="lineChartData"></p-chart>-->
  <!--    </div>-->
  <!--  </div>-->
</div>