.layout-container {
  display: flex;
  flex-direction: row;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50px;
  width: calc(100% - 40px);
  height: 50px;
  color: white;
  padding: 0 10px;
  transition: left 0.5s;
  z-index: 1000;
}

.sidebar {
  width: 50px;
  background-color: #444;
  color: white;
  height: 100vh;
  transition: width 0.3s;
}

.sidebar.extended {
  width: 200px;
}

.content {
  width: 100%;
  flex-grow: 1;
  padding: 5% 5% 0 5%;
  transition: margin-left 0.3s;
}

.sidebar-extended .navbar {
  width: calc(100% - 130px);
  left: 140px;
}

.sidebar-extended .content {
  margin-left: 160px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-item i {
  margin-right: 10px;
}
