<div class="layout-container" [ngClass]="{'sidebar-extended': isSidebarExtended}">
  <app-admin-sidebar (navigateEvent)="navigate($event)" (toggleEvent)="toggleSidebar()"></app-admin-sidebar>
  <div class="navbar">
    <app-dashboard-header></app-dashboard-header>
  </div>
  <div class="content">
    <app-dashboard *ngIf="activeComponent === 'dashboard'"/>
    <app-income-table *ngIf="activeComponent === 'income'"/>
    <app-transaction-table *ngIf="activeComponent === 'transaction'"/>
  </div>
</div>
