<app-header-comp />
<div class="container">
  <div class="card-grid">
    <app-card cardContent="{{ totalIncome | number:'1.0-0' }}" cardTitle="Total Income" class="Income" />
    <app-card cardContent="{{ latestBalance | number:'1.0-0' }}" cardTitle="Balance" class="balance" />
    <app-card cardContent="{{ totalOutcome | number:'1.0-0' }}" cardTitle="Total Outcome" class="Outcome" />
  </div>
</div>
<div class="container2">
  <app-tab-view></app-tab-view>
</div>
<footer>
  <div class="footer">
    <span>Himpunan Mahasiswa Ilmu Komputer</span>
    <span>Universitas Tama jagakarsa</span>
  </div>

</footer>